body { background-color: rgb(35, 168, 168);
    font-family: cursive;   
}

h1 {
    font-family: monospace;
    font-weight: 500;
}

.main-header {
    display:flex;
    justify-content: center;
    width:100%;
}

p {
    display: flex; 
    justify-content: center;
    align-items: center;    
    font-family: monospace;
    font-weight: 500;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border: 3px solid rgb(0, 0, 0);
}

.container {
    position: relative;
}

.container:hover > .animated-element {

    animation: moveBox 1s infinite;
}

.animated-element {
    width: 100px;
    height: 100px;
    background-color: rgb(147, 126, 166);
    transition: transform 3s ease-in-out;
}


@keyframes moveBox {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform:translateX(0%);
    }

}

nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: underline;
    color: rgb(74, 31, 31);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

nav a:hover {
    background: #6f3d3d;
}

.video{
    margin: 2cm;
    display: flex;
    justify-content: center;
}

.primaryheaders{
    display: flex;
    justify-content: flex-end;
}

.carvideo{
    border: 3px solid rgb(65, 2, 2);
}

